.container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #000000;
    overflow-x: hidden;
}
body {
    margin: 0;
}
.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin-right: 2%;
    margin-left: 2%;
    background-color: #000000;
}
.home-intro {
    color: #FFFFFF;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    text-align: center;
    flex: 1;
    min-width: 50vw;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 999;
    display: block;
    padding: auto;
}
.home-photo img {
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 42%;
    float: left;
    max-width: 67vw;
    margin-left: -203px;
}
.home-photo {
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
}
.home-intro h1 {
    font-weight: 900;
    font-size: 55px;
    margin-left: auto;
    margin-right: auto;
}
.quote {
    font-size: 15px;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    margin-right: 10vw;
    margin-left: 8vw;
    text-align: right;
    margin-bottom: 10%;
}
.home .home-intro a {
    text-decoration: none;
    color: #000000;
}
.home-intro button  {
    background-color: #DCE9ED;
    color: #000000;
    border-radius: 14px;
    border: medium inset #D1ECEB;
    padding: 10px;
    transition: all .1s ease-in-out;
}
.home-intro button:hover {
    background-color: #0F5468;
    border: medium outset #D1ECEB;
}
#content {
    font-family: Tahoma, "Times New Roman";
    text-align: left;
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 0%,rgba(255,255,255,1.00) 100%);
}
.top-content  {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    color: #FFFFFF;
    width: 61%;
    margin-bottom: 5%;
}
.top-content p  {
    margin-left: auto;
    margin-right: auto;
    font-family: "Dapifer Medium", Tahoma, "Times New Roman", sans-serif;
    font-size: 36px;
    text-align: center;
}
.bottom-content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10%;
    padding-left: 8vw;
    width: 85%;
    margin-bottom: 10%;
    padding-top: 3%;
}
.bottom-content .card {
    flex: 1;
    padding-left: auto;
    padding-right: auto;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 0;
}
.bottom-content .card img {
    -webkit-box-shadow: 1px 5px 8px 2px #999999;
    -moz-box-shadow: 1px 5px 8px 2px #0d0c4c;
    box-shadow: 1px 5px 8px 2px #999999;
    transition: all .2s ease-in-out;
    max-width: 100%;
    border-radius: 3px;
    min-height: 100%;
    border: thin solid #C6C6C6;
}
.card img:hover {
    transform:scale(1.1);
    cursor: pointer;
}
footer .footer-body {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(252,252,252,1.00) 14.55%,rgba(211,210,210,1.00) 31.76%,rgba(170,170,170,1.00) 47.49%,rgba(149,147,147,1.00) 60.80%,rgba(127,127,127,1.00) 74.31%,rgba(0,0,0,1.00) 92.70%,rgba(0,0,0,1.00) 99.92%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(252,252,252,1.00) 14.55%,rgba(211,210,210,1.00) 31.76%,rgba(170,170,170,1.00) 47.49%,rgba(149,147,147,1.00) 60.80%,rgba(127,127,127,1.00) 74.31%,rgba(0,0,0,1.00) 92.70%,rgba(0,0,0,1.00) 99.92%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(252,252,252,1.00) 14.55%,rgba(211,210,210,1.00) 31.76%,rgba(170,170,170,1.00) 47.49%,rgba(149,147,147,1.00) 60.80%,rgba(127,127,127,1.00) 74.31%,rgba(0,0,0,1.00) 92.70%,rgba(0,0,0,1.00) 99.92%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(252,252,252,1.00) 14.55%,rgba(211,210,210,1.00) 31.76%,rgba(170,170,170,1.00) 47.49%,rgba(149,147,147,1.00) 60.80%,rgba(127,127,127,1.00) 74.31%,rgba(0,0,0,1.00) 92.70%,rgba(0,0,0,1.00) 99.92%);
}
.footer-col-1 {
    flex: 3;
    margin-right: auto;
    margin-bottom: 52px;
    margin-left: auto;
    position: relative;
    padding-left: 10vw;
    padding-right: 0px;
}
.footer-col-1 h2 {
    text-align: left;
}
.form-row {
    width: 100%;
    display: inline-block;
}
.form-row input,
.form-row textarea,
.form-row select{
    margin: 0 15px 15px 0;
    background-image: none;
    border: none;
    font-size: 14px;
    color: #000000;
    border-bottom: 1px solid rgba(255,255,255,1.0);
    background-color: #E9E8CB;
    padding-top: 5px;
    border-radius: 7px;
    padding-bottom: 2px;
    width: 45%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-row label {
    font-size: 14px;
    color: #000000;
 
}
footer #message, footer #email {
    display: flex;
    justify-content: flex-start;
}
#message label,
#message textarea,
#email input,
#email label {
    width: 50%;
    box-sizing: border-box;
    padding-right: 0px;
}
.footer-col-2 {
    flex: 3;
    text-align: center;
    display: flex;
    padding-right: 15%;
    padding-left: 5%;
}
.footer-col-1::placeholder {
    color: #8E8E8E;
    
}

.footer-col-2 ul {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }
.footer-col-2 li  {
    list-style-type: none;
    text-align: left;
    line-height: 26px;
}
.footer-col-2 a {
    text-decoration: none;
    background-color:none;
    border-radius: 12px;
    color: #000000;
    padding: 5px 10px 2px 10px;
    transition: all 1s;
}
.footer-col-2 a:hover {
    transform: scale(2.2);
    background-color:silver;    
    border-radius: 12px;
  
}

.footer-col-2 nav, .footer-col-2 .additional {
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Dapifer Medium", Tahoma, "Times New Roman", sans-serif;
    font-size: 17px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 67%;
    border-radius: 15px;
    transition: all .5s;
    -webkit-box-shadow: inset 0px 0px;
    box-shadow: inset 0px 0px;
    }
.footer-col-2 nav:hover,
.footer-col-2 .additional:hover{
    border: 1px solid #fff;
    -webkit-box-shadow: 0px 0px 3px;
    box-shadow: 0px 0px 3px;
    background-image: -webkit-linear-gradient(270deg,rgba(254,254,254,1.00) 0%,rgba(188,191,193,1.00) 77.84%,rgba(52,52,52,1.00) 89.82%,rgba(0,0,0,1.00) 99.80%);
    background-image: -moz-linear-gradient(270deg,rgba(254,254,254,1.00) 0%,rgba(188,191,193,1.00) 77.84%,rgba(52,52,52,1.00) 89.82%,rgba(0,0,0,1.00) 99.80%);
    background-image: -o-linear-gradient(270deg,rgba(254,254,254,1.00) 0%,rgba(188,191,193,1.00) 77.84%,rgba(52,52,52,1.00) 89.82%,rgba(0,0,0,1.00) 99.80%);
    background-image: linear-gradient(180deg,rgba(254,254,254,1.00) 0%,rgba(188,191,193,1.00) 77.84%,rgba(52,52,52,1.00) 89.82%,rgba(0,0,0,1.00) 99.80%);
    transform: scale(1.02);
}

footer button {
    font-size: 14px;
    font-weight: 400;
    background: none;
    border: 2px solid #ffd200;
    cursor: pointer;
    height: 25px;
    width: 18.5%;
    border-radius: 50px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}
footer button:hover {
    border: none;
    background: #ffd200;
}
footer button {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0px;
}
ul li {
}
.footer-footer  {
    color: #FFFFFF;
    background-color: #000000;
    margin-top: -16px;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 5px;
}

@media (max-width: 768px){
.container {
}
.home-intro {
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.home-photo {
    margin-top: 38px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    width: 100vw;
}
.home-photo img {
    margin-left: 71px;
}
.home {
    display: flex;
    flex-direction: column-reverse;
}
}

@media (max-width: 600px){
.bottom-content {
    width: 100%;
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#content {
    font-size: 12px;
    flex-direction: column;
    width: 97%;
    display: flex;
}
.footer-body {
    margin-top: -18px;
    margin-right: -18px;
    margin-left: -18px;
    margin-bottom: -18px;
    display: flex;
    flex-direction: column-reverse;
}
.home   {
    width: 100%;
}
.card {
    margin-bottom: 9px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    margin-right: auto;
}
.card img {
}
.top-content {
    max-width: 75%;
    width: 75%;
    margin-bottom: 20px;
}
.footer-col-2 nav:hover, .footer-col-2 .additional:hover {
    border: 1px solid #fff;
    -webkit-box-shadow: 0px 0px 3px;
    box-shadow: 0px 0px 3px;
    background-image: -webkit-linear-gradient(270deg,rgba(254,254,254,1.00) 0%,rgba(188,191,193,1.00) 90.41%,rgba(52,52,52,1.00) 95.86%,rgba(0,0,0,1.00) 99.80%);
    background-image: -moz-linear-gradient(270deg,rgba(254,254,254,1.00) 0%,rgba(188,191,193,1.00) 90.41%,rgba(52,52,52,1.00) 95.86%,rgba(0,0,0,1.00) 99.80%);
    background-image: -o-linear-gradient(270deg,rgba(254,254,254,1.00) 0%,rgba(188,191,193,1.00) 90.41%,rgba(52,52,52,1.00) 95.86%,rgba(0,0,0,1.00) 99.80%);
    background-image: linear-gradient(180deg,rgba(254,254,254,1.00) 0%,rgba(188,191,193,1.00) 90.41%,rgba(52,52,52,1.00) 95.86%,rgba(0,0,0,1.00) 99.80%);
    transform: scale(1.02);
}
.footer-col-2 a:hover {
    transform: scale(2.2);
    background-color: silver;
    border-radius: 12px;  
}
    .footer-col-2 li:last-of-type a:hover {
    transform: scale(2.2);
    background-color: #9C9A9A;
    border-radius: 12px;
}
}
